.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 500px 600px 300px;
  }

.header {
    grid-column: 1 / -1;
}

.banner {
    grid-column: 1 / 8;
}

.nyheter {
    grid-column: 8 / -1;
}

.nyheter-v {
    grid-column: 8 / -1;
}

.volleyboll {
    grid-column: 1 / 5;
}

.beach {
    grid-column: 5 / 9;
}

.nara-dig {
    grid-column: 9 / -1;
}

.footer {
    grid-column: 1 / -1;
}

.regler {
    grid-column: 1 / 7;
}

.historia {
    grid-column: 7 /-1;
}

@media screen and (max-width: 1200px) {
    .container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100px 500px 600px 300px;
      }
    
    .header {
        grid-column: 1 / -1;
    }
    
    .banner {
        grid-column: 1 / 9;
    }
    
    .nyheter {
        grid-column: 9 / -1;
    }
    
    .nyheter-v {
        grid-column: 8 / -1;
    }
    
    .volleyboll {
        grid-column: 1 / 5;
    }
    
    .beach {
        grid-column: 5 / 9;
    }
    
    .nara-dig {
        grid-column: 9 / -1;
    }
    
    .footer {
        grid-column: 1 / -1;
    }

    h2 {
        font-size: large;
    }

    p {
        font-size: 13px;
    }
}


@media screen and (max-width: 900px) {
    .container{
        display: grid;
        grid-template-rows: 70px 500px 250px 250px 100px;
      }

    .header {
        grid-column: 1 / -1;
    }
    
    .banner {
        grid-column: 1 / 9;
    }
    
    .nyheter {
        grid-column: 9 / -1;
    }
    
    .nyheter-v {
        grid-column: 8 / -1;
    }
    
    .volleyboll {
        grid-column: 1 / 5;
    }
    
    .beach {
        grid-column: 5 / 9;
    }
    
    .nara-dig {
        grid-column: 9 / -1;
    }
    
    .footer {
        grid-column: 1 / -1;
    }

    h2 {
        font-size: large;
    }

    p {
        font-size: 13px;
    }
  
}


@media screen and (max-width: 480px) {
    .container{
        display: grid;
        grid-template-rows: 70px 200px 250px 250px 100px;
      }

    .bilder {
        height: 200px;
    }

    .header {
        grid-row: 1;
        grid-column: span 12;
    }
    
    .banner {
        grid-row: 2;
        grid-column: span 12;
    }
    
    .nyheter {
        grid-row: 3;
        grid-column: span 6;
        font-size: 10px;
    }

    .volleyboll {
        grid-row: 3;
        grid-column: span 6;
    }

    .beach {
        grid-row: 4;
        grid-column: span 6;
    }

    .nara-dig {
        grid-row: 4;
        grid-column: span 6;
    }

    .footer {
        grid-row: 5;
        grid-column: span 12;
    }
    .nyheter-v {
        grid-row: 3;
        grid-column: span 12;
        font-size: 10px;
    }
    .regler {
        grid-column: span 6;
        font-size: 10px;
    }
    .historia {
        grid-column: span 6;
        font-size: 10px;
    }

    h2 {
        font-size: large;
    }

    p {
        font-size: 7px;
    }
}
