* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgb(0, 140, 255);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center
}

.bilder {
    height: 500px;
}

.nyheter {
    background-color: rgb(172, 222, 255);
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.vrubrik {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.brubrik {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nrubrik {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.vtext {
  display: flex;
  flex-direction: column;
  font-size: large;
  margin: 1vw;

}

.btext {
  display: flex;
  flex-direction: column;
  font-size: large;
  margin: 1vw;
}

.ntext {
  display: flex;
  flex-direction: column;
  font-size: large;
  margin: 1vw;
}

.volleyboll {
  background-color: rgb(172, 222, 255);
  border: 7px solid rgb(29, 138, 255);
  background-image: url("../img/volleyboll14.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.regler {
  background-color: rgb(172, 222, 255);
  border: 7px solid rgb(29, 138, 255);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.beach {
  background-color: rgb(172, 222, 255);
  border: 7px solid rgb(29, 138, 255);
  background-image: url("../img/volleyboll7.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.historia {
  background-color: rgb(172, 222, 255);
  border: 7px solid rgb(29, 138, 255);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nara-dig {
  background-color: rgb(172, 222, 255);
  border: 7px solid rgb(29, 138, 255);
  background-image: url("../img/volleyboll13.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.footer {
  background-color: rgb(0, 140, 255);
  color: white;
}

.ftext {
  margin: 1vw;
}

#logo {
   display: flex;
   justify-content: left;
   margin: 1vw;
}

#h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dropdown Button */
.dropbtn {
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    margin: 1.5vw;
  }

  /* The container <div> - needed to position the dropdown content */
  #dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: right;
    align-items: right;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1e4ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #c8cbe4;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h2 {
  margin: 1vw;
  font-size: xx-large;
}

.vbn {
  width: 25%;
  float: right;
  padding: 10px;
  margin: 1vw;
}